<div id="botonera" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
  <div class="botonito" onclick="showInicio();">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Inicio
  </div>
  <div class="botonito" onclick="showEducacion();">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Educacion
  </div>
  <div class="botonito" onclick="showCertificaciones();">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Certificaciones
  </div>
  <div class="botonito" onclick="showHabilidades();">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Habilidades
  </div>
  <div class="botonito" onclick="showExperiencia();">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Experiencia
  </div>
  <div class="botonito" onclick="showProyectos();">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Proyectos
  </div>
  <div class="botonito" onclick="showContacto();">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Contacto
  </div>
</div>