<div id="botonera" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
  <div class="boton" onclick="showInicio();">Inicio</div>
  <div class="boton" onclick="showEducacion();">Educacion</div>
  <div class="boton" onclick="showCertificaciones();">Certificaciones</div>
  <div class="boton" onclick="showHabilidades();">Habilidades</div>
  <div class="boton" onclick="showExperiencia();">Experiencia</div>
  <div class="boton" onclick="showProyectos();">Proyectos</div>
  <div class="boton" onclick="showContacto();">Contacto</div>
</div>