<footer
      class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 mx-2 border-top"
    >
      <p class="col-md-4 mb-0">kriox3 & Tsidkenu Producciones © 2022</p>

      <a
        href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
      >
        <img
          src="/assets/img/APlogo.png"
          alt="Argentina Programa"
          title="Argentina Programa"
          width="130px"
        />
      </a>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-light">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-light">Educacion</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-light">Certificaciones</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-light">Habilidades</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-light">Experiencia</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-light">Proyectos</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-light">Contacto</a>
        </li>
      </ul>
    </footer>