<div
      id="cabecera"
      class="distribucion"
      style="
        background-image: url('/assets/img/banner2.webp');
        background-repeat: no-repeat;
        background-position: center;
      "
    >
      <img
        src="/assets/img/APlogo.png"
        alt="Argentina Programa"
        title="Argentina Programa"
        width="130px"
      />
      <div>
        <h1 class="heading-black" style="margin-right: 80px; font-weight: 900">
          {{paso}}
        </h1>
      </div>

      <app-encabezado></app-encabezado>
    </div>