<section style="display: block" id="acercade">
  <div class="container alert" style="background-color: #ffffff1e; border-radius: 20px" role="alert">
    <div class="row vh-md-100">
      <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center" id="cuerpo">

        <table class="acercade m3">
          <tbody>
            <tr>
              <td rowspan="3">
                <img
                  [src]="paso.foto_persona"
                  class="circulo">
              </td>
              <td class="izquierda"><i class='bx bxl-xing'></i> {{paso.apellido_persona}}, {{paso.nombre_persona}}</td>
            </tr>
            <tr>
              <td class="izquierda"><i class='bx bx-hard-hat'></i> {{paso.cargo_persona}} en {{paso.oficina_persona}}</td>
            </tr>
            <tr>
              <td class="izquierda"><i class='bx bx-current-location'></i> {{paso.localidad_persona}}</td>
            </tr>
            <tr class="pt-2">
              <td colspan="4">
                  <p style="font-size: 1rem;">{{paso.info_persona}}</p>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
            <app-about-edit *ngIf="modifica"></app-about-edit>
    </div>
  </div>
</section>