<section style="display: block" id="acercade">
  <div class="container alert" style="background-color: #ffffff1e; border-radius: 20px" role="alert">
    <div class="row vh-md-100">
      <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center" id="cuerpo">

        <table class="acercade m3">
          <tbody>
            <tr>
              <td rowspan="3">
                <img
                  [src]="acercade.foto"
                  class="circulo">
              </td>
              <td class="izquierda"><i class='bx bxl-xing'></i> {{acercade.nombre}}</td>
            </tr>
            <tr>
              <td class="izquierda"><i class='bx bx-hard-hat'></i> {{acercade.cargo}} en {{acercade.oficina}}</td>
            </tr>
            <tr>
              <td class="izquierda"><i class='bx bx-current-location'></i> {{acercade.localidad}}</td>
            </tr>
            <tr class="pt-2">
              <td colspan="4">
                  <p style="font-size: 1rem;">{{acercade.info}}</p>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="cajaf">
        <a class="btn_roundf" title="Menu Administrador" alt="Menu Administrador" style="text-decoration: none"><i
            class="bx bx-expand-horizontal bx-md"></i></a>
        <a class="caja1" href="#" alt="Editar" title="Editar" style="text-decoration: none"><i
            class="bx bxs-edit bx-md"></i></a>
        <a class="caja2" href="#" alt="Eliminar" title="Eliminar" style="text-decoration: none"><i
            class="bx bxs-x-square bx-md"></i></a>
      </div>
    </div>
  </div>
</section>