<div
      class="modal fade"
      id="iniciarSesion"
      tabindex="-1"
      role="dialog"
      aria-labelledby="iniciarSesionLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div
          class="modal-content"
          style="background-color: #404040; color: white"
        >
          <div class="modal-header">
            <h5 class="modal-title" id="iniciarSesionLabel">Inicie Sesion</h5>
            <i
              class="bx bxs-x-square bx-tada bx-lg bx-burst-hover"
              style="color: #00eeff"
              data-bs-dismiss="modal"
              aria-bs-label="Close"
            ></i>
          </div>
          <div class="modal-body">
            <form>
              <img class="mb-4" src="/assets/img/APlogo.png" alt="" width="150" />
              <h1 class="h3 mb-3 fw-normal">Ingrese sus credenciales</h1>

              <div class="form-floating">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="nombre@ejemplo.com"
                />
                <label for="floatingInput" class="text-dark">Email</label>
              </div>
              <div class="form-floating">
                <input
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="Contraseña"
                />
                <label for="floatingPassword" class="text-dark"
                  >Contraseña</label
                >
              </div>

              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me" /> Recordame
                </label>
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit">
                Ingresar
              </button>
            </form>
          </div>
          <!--  <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Guardar</button>
          </div> -->
        </div>
      </div>
    </div>