<section style="display: block" id="contacto">
  <div class="container alert" style="background-color: #ffffff1e; border-radius: 20px" role="alert">
    <div class="row vh-md-100">
      <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center" id="cuerpo">


        <table class="mx-auto">
          <tbody>
            <tr>
              <td>
                <a [href]="redes.facebook" class="mx-4" target="_blank"><i
                    class='bx bxl-facebook bx-tada bx-lg bx-burst-hover' style="color:#0dcaf0"></i></a>


                <a [href]="redes.instagram" class="mx-4" target="_blank"><i
                    class='bx bxl-instagram bx-tada bx-lg bx-burst-hover' style="color:#0dcaf0"></i></a>


                <a [href]="redes.telegram" class="mx-4" target="_blank"><i
                    class='bx bxl-telegram bx-tada bx-lg bx-burst-hover' style="color:#0dcaf0"></i></a>


                <a [href]="redes.whatsapp" class="mx-4" target="_blank"><i
                    class='bx bxl-whatsapp bx-tada bx-lg bx-burst-hover' style="color:#0dcaf0"></i></a>

                <a [href]="redes.youtube" class="mx-4" target="_blank"><i
                    class='bx bxl-youtube bx-tada bx-lg bx-burst-hover' style="color:#0dcaf0"></i></a>


                <a [href]="redes.twitter" class="mx-4" target="_blank"><i
                    class='bx bxl-twitter bx-tada bx-lg bx-burst-hover' style="color:#0dcaf0"></i></a>


                <a [href]="redes.cafecito" class="mx-4" target="_blank"><i
                    class='bx bxs-coffee bx-tada bx-lg bx-burst-hover' style="color:#0dcaf0"></i></a>

                <a [href]="redes.linkedin" class="mx-4" target="_blank"><i
                    class='bx bxl-linkedin bx-tada bx-lg bx-burst-hover' style="color:#0dcaf0"></i></a>

                <a [href]="redes.web" class="mx-4" target="_blank"><i
                    class='bx bx-globe bx-tada bx-lg bx-burst-hover' style="color:#0dcaf0"></i></a>

              </td>
            </tr>
          </tbody>
        </table>


      </div>
      <div class="cajaf">
        <a class="btn_roundf" title="Menu Administrador" alt="Menu Administrador" style="text-decoration: none"><i
            class="bx bx-expand-horizontal bx-md"></i></a>
        <a class="caja1" href="#" alt="Editar" title="Editar" style="text-decoration: none"><i
            class="bx bxs-edit bx-md"></i></a>
        <a class="caja2" href="#" alt="Eliminar" title="Eliminar" style="text-decoration: none"><i
            class="bx bxs-x-square bx-md"></i></a>
      </div>
    </div>
  </div>
</section>