<!-- Modal -->
<div class="modal fade" id="modelId2" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="color:black">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Red</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    
                    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">

                        <div class="form-group">
                            <label for="accesoUrl">accesoUrl</label>
                            <input type="text" class="form-control" id="accesoUrl" placeholder="Nombre del título obtenido"
                                name="accesoUrl" [(ngModel)]="accesoUrl" required>
                        </div>
<!--                         <div class="form-group">
                            <label for="persona">persona</label>
                            <input type="text" class="form-control" id="persona"
                                placeholder="Nombre del establecimiento educativo" name="persona" [(ngModel)]="persona.id"
                                required>
                        </div> -->
                        <div class="form-group">
                            <label for="red">red</label>
                            <input type="text" class="form-control" id="red" placeholder=""
                                name="red" [(ngModel)]="red.id" required>
                        </div>

                        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Guardar</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>